.container-fluid{
    background-color: black;
    width: 100%;
}
.footer-heading{
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
    font-size: 40px;
    margin-left: -3%;
}
.footer-heading:hover{
    -webkit-text-stroke: 2px aqua;
    color: transparent;
}
.footericon{
    margin-left: -3%;
}
.footericon h3{
 color: #fff;    
}
.footericon section{
    
    color: #fff;    
}
.footerlinks{
    margin-left: -8px;
}
.footerlinks h5{
    color: #ffffff4d;
}