@media(max-width:768px){
    .navbar-toggler{
        position: relative;
        top: 10%;
    }
    .navbar-brand{
        width: 40%;
    }
    #header .navbar-nav .logo{
        width: 40%;
    }
    #header .navbar-nav .nav-item .nav-link{
        font-size: 1rem;
    }
    #header .navbar-nav .nav-item .nav-link.active{
        font-size: 1rem;
    }
   

    
}
