@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{ 
    /* Background Color */
    --bg-danger:#f63440;
    --bg-white:#fff;
    --bg-light-white:#f5f5f5;

    /* Text Color */
    --primary-font:"Poppins", sans-serif;
    --text-white:#fff;
    --text-black:#121212; 
    --text-danger:#f63440; 
    --text-gray:#aaa;
    --text-dark-gray:#777;
    --fav-text-color: #FBFFFF;
    --second-fav-color:#05C3DD;
}
body {
    font-family: var(--primary-font);
    font-weight: 400;
    background:#01071e;
    color: var(--text-white);
    overflow-x:hidden;
}
/* NAVBAR CSS */
#header .navbar-nav .nav-item .nav-link{ 
    color:var(--fav-text-color);
    padding:0.5rem 0.5rem;
    text-align: center;
    margin-left: 10px;
    font-size: 1.5rem;
}
#header .navbar-nav .nav-item .nav-link:hover,
#header .navbar-nav .nav-item .nav-link.active{
    color:var(--second-fav-color);
    padding:0.5rem 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    

}
#header .navbar{
    box-shadow: 0 0.125rem 0.675rem rgb(0 0 0 /15%);
    
    
}
#header .navbar .navbar-brand h2{
   color:var(--text-white) ;
}
#header .navbar-toggler:focus{
    box-shadow: none;
}
#header .navbar .navbar-brand .logo{
    width: 15%;
}


.video-row{
  display: flex;
  position: relative;
  
  
  
}
.video-row .col-md-4 h1{
  font-size: 100px ;
  position: absolute;
  left: 30%;
  top: 30%;
  
  transition: 0.3s;

}
.video-row .col-md-4 h1:hover{
  -webkit-text-stroke: 4px aquamarine;
  color: transparent;

}
@media(max-width:768px){
  .video-row .col-md-4 h1{
    left: 26%;
    top: 40%;
    font-size: 36px;
  }
}












.section-4 {
    margin-bottom: 20%;
    height: 70vmin;
    margin-top: 15vmin;
    background: black;
    background: var(--bggradient);
  }
  
  .section-4 .col-md-12  h1 {
    padding: 2em 0 0.5em 0;
    color: aquamarine;
    /* color: whitesmoke; */
    font-family: prague;
    font-size: 6vmin;
  }
  
  .section-4 .col-md-12  p {
    padding: 0 4em;
    padding-bottom: 2em;
    color: var(--light-gray);
    font-size: 3vmin;
  }
  
  .section-4 .desktop {
    background: mediumaquamarine;
    display: inline-block;
    border-radius: 3em;
    padding: 2vmin 4.5vmin;
    margin: 1em;
  }
  .section-4 .desktop h3 {
    font-size: 4vmin;
  }
  
  .section-4 .desktop p {
    font-size: 2vmin;
  }


/* second section */

.modal{
  color: #121212;
  
}



/* collections page */
 
#collection{
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  
}

#collection .col-md-8 h1{
  color: aquamarine;
}
#collection .price{
  padding: 20px;
}
#collection .front-specs h4{
  color:navajowhite;
  
}
#collection .front-specs i{
  color: yellow;
}
/* #collection .finalbutton  {
  margin-top: 80px;
  font-size: large;
  
  border-radius: 10px;
  width: 300px;
  height: 60px;
  font-weight: 600;
  color: black;
  background-color: aquamarine;

} */

#collection .price{
  transform-style: preserve-3d;
  transition: all 0.4s ease;
}
#collection .price:hover{
  transform: rotateY(180deg);
}
#collection .front-specs{
  position: absolute;
  padding: 20px;
  
  
  backface-visibility: hidden;
}
#collection .back-specs{
  position: absolute;
  
  backface-visibility: hidden;
  transform: rotateY(180deg);
}



/* RESponsive */

