@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root{ 
    /* Background Color */
    --bg-danger:#f63440;
    --bg-white:#fff;
    --bg-light-white:#f5f5f5;

    /* Text Color */
    --primary-font:"Poppins", sans-serif;
    --text-white:#fff;
    --text-black:#121212; 
    --text-danger:#f63440; 
    --text-gray:#aaa;
    --text-dark-gray:#777;
    --fav-text-color: #FBFFFF;
    --second-fav-color:#05C3DD;
}
body {
    font-family: var(--primary-font);
    font-weight: 400;
    background:#01071e;
    color: var(--text-white);
    overflow-x:hidden;
}
/* NAVBAR CSS */
#header .navbar-nav .nav-item .nav-link{ 
    color:var(--fav-text-color);
    padding:0.5rem 0.5rem;
    text-align: center;
    margin-left: 10px;
    font-size: 1.5rem;
}
#header .navbar-nav .nav-item .nav-link:hover,
#header .navbar-nav .nav-item .nav-link.active{
    color:var(--second-fav-color);
    padding:0.5rem 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    

}
#header .navbar{
    box-shadow: 0 0.125rem 0.675rem rgb(0 0 0 /15%);
    
    
}
#header .navbar .navbar-brand h2{
   color:var(--text-white) ;
}
#header .navbar-toggler:focus{
    box-shadow: none;
}
#header .navbar .navbar-brand .logo{
    width: 15%;
}


#second{
    background-image: url('/images/car.jpg');
    background-size: cover;
}
.second .col-md-8 h1{
	margin-top: 20px;
	font-family: serif;
	
	text-align: center;
}
#second .col-md-8 p{
	margin-top: 20px;
	font-family: serif;
	font-size: 20px;
	text-align: justify;
}








.section-3 {
    margin-bottom: 20%;
    height: 70vmin;
    margin-top: 15vmin;
    background: black;
    background: var(--bggradient);
  }
  
  .section-3 .col-md-12 > h1 {
    padding: 2em 0 0.5em 0;
    color: aquamarine;
    /* color: whitesmoke; */
    font-family: prague;
    font-size: 6vmin;
  }
  
  .section-3 .col-md-12 > p {
    padding: 0 4em;
    padding-bottom: 2em;
    color: var(--light-gray);
    font-size: 3vmin;
  }
  
  .section-3 .desktop {
    background: mediumaquamarine;
    display: inline-block;
    border-radius: 3em;
    padding: 2vmin 4.5vmin;
    margin: 1em;
  }
  .section-3 .desktop h3 {
    font-size: 4vmin;
  }
  
  .section-3 .desktop p {
    font-size: 2vmin;
  }


/* second section */



  


/* RESponsive */

